body {
  font-family: "Reader Medium";
  font-size: 22px;
  font-weight: normal;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.group:after { /* this is the new "clearfix" semantic name */
  content: "";
  display: table;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Reader Bold";
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 52px;
  font-family: "Reader Medium";
  line-height: 1.1;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  margin: 0 0 8px;
}

h3 {
  font-size: 24px;
  margin: 0 0 5px;
}

h3 small {
  color: #bbb;
  font-size: 11px;
  text-transform: uppercase;
}

a {
  color: #45c59a;
}

p {
  margin: 0 0 16px;
}

input,
textarea {
  background: rgba(255,255,255,.3);
  border: 0;
  color: #fff;
  font-family: "Reader Medium";
  padding: 14px 0px 10px 12px;
}

  input::-webkit-input-placeholder,
  input::-moz-placeholder,
  input::input-placeholder {
    color: #fff;
  }

.button {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 12px 32px 8px;
  text-decoration: none;
  &:hover {
    background: rgba(255,255,255,.2)
  }
  &:active {
    background: rgba(0,0,0,.1)
  }
}

.hero {
  background: url(hero.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 70vh;
  position: relative;
}

.hero-content {
  margin-top: 13vh;
  text-align: center;
}

  .hero-content h1 span {
    color: #e0f5ee;
  }

  .hero-content p {
    opacity: .6;
    font-size: 24px;
  }

  .hero-content a.button {
    color: #fff;
    display: inline-block;
  }

  .hero a.arrow {
    display: block;
    right: 0;
    bottom: 10px;
    left: 0;
    margin: 0 auto;
    position: absolute;
  }

header .container {
  border-bottom: 1px solid rgba(255,255,255,.15);
  padding: 14px 0 5px;
}

nav {
  float: right;
  margin: 20px 0;
}

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    font-size: 18px;
    font-family: "Reader Bold";
    font-weight: 600;
    margin-left: 35px;
  }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      &.button {
        padding: 10px 44px 6px;
      }
    }

.mobile-nav {
  display: none;
}

.plan {
  background: url(plan.jpg) no-repeat center center;
  background-size: cover;
}

.story,
.involved {
  background: #596569;
  color: #fff;
}

.story .container,
.plan .container,
.progress .container,
.involved .container {
  padding: 30px 0; 
  width: 780px;
}

.plan {
  padding-bottom: 30px;
}

.founders {
  width: 620px;
  margin: 0 auto;
}

  .founders .founders-photo {
    max-width: 620px;
    width: 100%;
  }

  .founder-profile {
    display: inline-block;
    width: 300px;
  }

  .founder-profile h3 {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .founder-profile h4 {
    font-size: 16px;
    font-family: "Reader Medium";
    font-weight: 500;
    margin-bottom: 5px;
  }

  .founder-profile h5.medium-post {
    background: url(social-medium.png) no-repeat center left;
    font-size: 14px;
    font-family: "Reader Medium";
    font-weight: 500;
    padding: 3px 0 0 0;
    margin-bottom: 10px;
  }

    .founder-profile h5.medium-post a {
      color: #fff;
      padding-left: 30px;
      text-decoration: none;
    }

  .founder-profile ul {
    margin: 0;
    padding: 0;
  }

  .founder-profile ul li {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

    .founder-profile ul li a {
      display: inline-block;
      height: 24px;
      width: 24px;
    }

    .founder-profile ul li span {
      display: none;
    }

    .founder-profile ul li.instagram {
      background: url(social-instagram.png) no-repeat top left;
    }

#plan-video {
  margin: 50px auto 0;
  max-width: 940px;
}

.plan-graphic,
.progress-graphic {
  display: block;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

.involved div.give-blocks {
  display: inline-block;
  font-size: 18px;
  width: 380px;
  vertical-align: top;
  &:nth-child(odd) {
    margin-right: 10px;
  }
  p {
    margin-bottom: 35px;
  }
}

.involved a.button {
  border-color: #45c59a;
  color: #45c59a;
  padding: 12px 15px 8px;
}

  .involved a.button span {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
  }

  .involved a.button.paypal span {
    background: url(paypal.png) no-repeat top left;
    height: 20px;
    width: 70px;
  }

  .involved a.button.card span {
    background: url(card.png) no-repeat top left;
    height: 27px;
    position: relative;
    top: -2px;
    width: 48px;
    vertical-align: middle;
  }

footer {
  background: #2b3032;
  color: rgba(255,255,255,.6);
  padding: 75px 0;

  img {
    float: left;
  }

  nav {
    margin: 10px 0;
  }

  ul {
    float: right;
    li {
      font-size: 16px;
      font-family: "Reader Medium";
      font-weight: 500;
      margin-left: 25px;
      a {
        opacity: .6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

html {
  height: 100%;
}

@media only screen and (max-device-width : 1024px) {
  body {
    font-size: 18px;
  }

  .hero-content  {
    h1 {
      font-size: 38px;
    }

    p {
      font-size: 18px;
    }
  }

  nav ul li {
    font-size: 14px;
    margin-left: 18px;
    a.button {
      font-size: 14px;
      padding: 8px 28px;
    }
  }

  .container,
  .story .container,
  .plan .container,
  .progress .container,
  .involved .container {
    width: 90%;
  }

  .founders {
    max-width: 620px;
    width: 100%;
  }

  .founders-photo {
    width: 100%;
    height: auto;
  }

  .plan-graphic,
  .progress-graphic {
    height: auto;
    width: 95%;
  }

  .involved div.give-blocks {
    width: 336px;
    font-size: 16px;
  }
}

@media only screen and (max-device-width : 500px) {
  
  body {
    font-size: 16px;
  }

  .container {
    width: 95%;
  }

  h2 {
    font-size: 26px;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    color: #fff;
    display: block;
    text-decoration: none;
    span {
      background: #fff;
      clear: left;
      display: block;
      float: left;
      height: 2px;
      margin: 2px 5px 2px 0;
      width: 20px;
    }
  }

  .hero-content  {
    margin-top: 3vh;

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 13px;
    }

    a.button {
      font-size: 16px;
    }
  }

  #plan-video {
    margin-top: 0;
  }

  .involved div.give-blocks {
    font-size: 14px;
    width: 95%;
    &:nth-child(odd) {
      margin-bottom: 25px;
    }
    input.button {
      padding: 9px 22px 8px;
    }
  }

  footer {
    padding: 20px;
    img {
      display: none;
    }

    nav {
      float: none;
      ul {
        float: none;
        li {
          display: block;
          margin-bottom: 20px;
          text-align: center;
          a {
            color: #fff;
            display: block;
            font-size: 20px;
          }
        }
      }
    }
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}